body {
    background: #fafafa;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(dino.png);
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(cactus.png);
    margin-bottom: 5px;
}

.bird {
    position: absolute;
    width: 61px;
    height: 40px;
    bottom: 0;
    background: url(bird.png);
    margin-bottom: 100px;
}

.Game-Over {
    text-align: center;
    color: #666666;
    margin-top: 50px;
}

@keyframes slideRigth {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(background.png);
    background-repeat: repeat-x;
    animation: slideRigth 1830s infinite linear;
    width: 100%;
    height: 200px;
}